{% extends "network/layout.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
        <div class="row">
            <section class="col-sm-3">
                <div style="top: 70px; right:75%; left: 15px;" class="fixed-top list-group">
                    <a id="newest-btn" class="list-group-item list-group-item-action active">Newest</a>
                    <a id="following-btn" class="list-group-item list-group-item-action">Following</a>
                </div>
            </section>
            <section class="col-sm-6">
                <h1 id="title">Newest</h1>
                <br/>
                <form id="post-submit">
                    <label for="post-content">New Post</label>
                    <textarea id="post-content" class="form-control" style="resize: none;" rows="6"></textarea>
                    <input class="btn btn-primary mt-3" type="submit" value="Post">
                </form>
                <hr/>
                <div id="posts-window"> 
                </div>
                <br/>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button id="first" type="button" class="btn btn-secondary" onclick="firstPage()">First</button>
                    <button id="previous" type="button" class="btn btn-secondary" onclick="previousPage()">Previous</button>
                    <button id="page-number" type="button" class="btn btn-primary"></button>
                    <button id="next" type="button" class="btn btn-secondary" onclick="nextPage()">Next</button>
                    <button id="last" type="button" class="btn btn-secondary" onclick="lastPage()">Last</button>
                </div>
            </section>
        </div>
    </div>
{% endblock %}