{% extends "network/layout.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
        <div class="row">
            <section class="col-sm-3">
                <div style="top: 70px; right:75%; left: 15px;" class="fixed-top list-group">
                    <a class="list-group-item list-group-item-action">Newest</a>
                    <a class="list-group-item list-group-item-action">Trending</a>
                    <a class="list-group-item list-group-item-action">All Time Most Liked</a>
                </div>
            </section>
            <section class="col-sm-6">
                <h1>Newest</h1>
                <br/>
                <form id="post-submit">
                    <label for="post-content">New Post</label>
                    <textarea id="post-content" class="form-control" style="resize: none;" rows="6"></textarea>
                    <input class="btn btn-primary mt-3" type="submit" value="Post">
                </form>
                <hr/>
                <div id="posts-window"> 
                </div>
            </section>
            <section style="z-index: 3;" class="col-sm">
                <div style="top: 70px; left:75%; right: 15px;" class="fixed-top list-group">
                    Followers
                </div>
            </section>
        </div>
    </div>
{% endblock %}