#profile-icon{
    margin-left:auto;
    width: 40px;
    height: 40px;
}

#profile-icon:hover{
    color: aqua;
    cursor: pointer;
    border: solid aqua 1px;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.0);
            transform: scaleY(0.0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.0);
            transform: scaleY(0.0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100%{
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }

#profile-panel{
    animation: growDown 300ms ease-in-out both;
    position: fixed;
    background-color: white;
    border: solid 1px gray;
    right: 30px;
    top: 50px;
    border-radius: 20px 0px 20px 20px;
    transform-origin: top right;
    padding: 15px 5px 15px 5px;
}

.posts{
  -webkit-animation: scale-up-ver-top 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

[id="heart"] {
  position: absolute;
  left: -100vw;
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 6em;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}



@keyframes heart {0%, 17.5% {font-size: 0;}}